body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

form {
    flex-grow: 1;
    margin-bottom: auto;
}
main {
    flex-grow: 1;
    width: 80%; 
    margin-left: auto;
    margin-right: auto;
}

.right-nav {
    float: right;
}

.right-nav a {

    display: block;
    color: white;
    padding: 33px 16px; 
    text-decoration: none;
    font-family: "Times New Roman", Times, serif;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 2px;
  overflow: hidden;
  background-color: #694F08;
 font-family: "Times New Roman", Times, serif;
}

ul li {
  float: left;
  font-weight: bold;
  font-family: "Times New Roman", Times, serif;
  
}

ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 33px 16px;
  text-decoration: none;
    justify-content: center;

}

ul li a:hover {
  background-color: #aa7004ce;
  
}

h1{
    margin-right: 466px;
    color:rgb(255, 255, 255);
}
.empty{
  width: 100px;
}

.cart {
    width: 300px;
    margin: 20px auto;
    text-align: center;
    
    background-color: #aa7004a4;
    border: none;
    color: white;
    padding: 16px 32px;
    border-radius: 25px;
    font-weight: bold;
}

.cart h2, .cart h4 {
    color: white; 
}

/*end of navigation panel */


/*gallery */

div.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  
}


div.gallery-item {
  margin: 5px;
  border: 1px solid #ccc;
  width: 180px;
}

div.gallery-item:hover {
  border: 1px solid #dd9426;
}

div.gallery-item img {
  width: 100%;
  height: auto;

}

div.gallery-item div.desc {
  padding: 15px;
  text-align: center;
}

button,
input[type=button], 
input[type=submit], 
input[type=reset] {
    background-color: #aa7004;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 25px;
    font-weight: bold;
    font-family: "Times New Roman", Times, serif;
}

table {
align-content: center;
background-color: #aa7004a4;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 3cm 14cm  ;
  border-radius: 25px;
  font-weight: bold;
  width: 20%;
  
}

h3{
  text-align: left;
}

header {
    display: flex; 
    flex-direction: column;
    text-align: left;
    width: 100%;
    color: rgb(255,255,255);
    padding-bottom: 10px;
    background-color: #694F08;
    box-sizing: border-box;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    box-sizing: border-box;
    background-color: #694F08; 
    color: white;
    padding: 20px 0; 
    text-align: center;
    font-family: "Times New Roman", Times, serif;
    font-weight: bold;
    width: 100%;
}

footer p {
    margin: 5px 0;
}
